name: gradle-lib-build

on:
  workflow_call:
    inputs:
      java-distribution:
        type: string
        description: Name of Java JDK distribution to use
        required: false
        default: temurin
      java-version:
        type: number
        description: Version of Java JDK to use
        required: false
        default: 17
      run-gradle-validation:
        type: boolean
        description: Value indicating if Gradle validation step should run
        required: true
    secrets:
      fossa-api-key:
        description: FOSSA licensing scan API key
        required: true

jobs:
  gradle-lib-build:
    name: Gradle Library Build
    runs-on: ubuntu-latest
    if: ${{ github.event.head_commit.message != 'Create release' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Validate Gradle Wrapper
        if: ${{ inputs.run-gradle-validation == true }}
        uses: gradle/wrapper-validation-action@v1.1.0

      - name: Setup Java
        uses: actions/setup-java@v3.13.0
        with:
          java-version: ${{ inputs.java-version }}
          distribution: ${{ inputs.java-distribution }}

      - name: Build
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: clean build
          gradle-version: wrapper

      - name: Set Package Name
        run: |
          group=$(awk '/group/{print $NF; exit}' build.gradle.kts | sed s/\'//g | sed s/\"//g)
          name=$(awk '/rootProject.name/{print $NF; exit}' settings.gradle.kts | sed s/\'//g | sed s/\"//g)
          echo "PACKAGE_NAME=${group}.${name}" >> $GITHUB_ENV

      - name: Codestyle
        uses: fabiocapasso93/gha-kotlin-linter@v1.1

      - name: Coverage
        uses: codecov/codecov-action@v3.1.4
        with:
          file: ./build/reports/jacoco/test/jacocoTestReport.xml
          verbose: true

      - name: FOSSA
        uses: fossas/fossa-action@v1.3.1
        with:
          api-key: ${{ secrets.fossa-api-key }}

      - name: Dependency Check
        uses: dependency-check/Dependency-Check_Action@1.1.0
        with:
          project: ${{ env.PACKAGE_NAME }}
          path: .
          format: HTML
          out: reports/dependency-check
          args: >
            --failOnCVSS 7
            --enableRetired
        env:
          JAVA_HOME: /opt/jdk

      - name: Publish Dependency Check Results
        uses: actions/upload-artifact@v3.1.3
        with:
          name: Dependency Check Report
          path: ${{ github.workspace }}/reports/dependency-check
