name: gradle-app-build

on:
  workflow_call:
    inputs:
      java-distribution:
        type: string
        description: Name of Java JDK distribution to use
        required: false
        default: temurin
      java-version:
        type: number
        description: Version of Java JDK to use
        required: false
        default: 17
      run-coverage:
        type: boolean
        description: Value indicating if coverage step should run
        required: true
      run-fossa:
        type: boolean
        description: Value indicating if FOSSA step should run
        required: true
      run-gradle-validation:
        type: boolean
        description: Value indicating if Gradle validation step should run
        required: true
    secrets:
      fossa-api-key:
        description: FOSSA licensing scan API key
        required: false

jobs:
  gradle-app-build:
    name: Gradle App Build
    runs-on: ubuntu-latest
    if: ${{ github.event.head_commit.message != 'Create release' && !contains(github.event.head_commit.message, 'Deploy') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Validate Gradle Wrapper
        if: ${{ inputs.run-gradle-validation == true }}
        uses: gradle/wrapper-validation-action@v1.1.0

      - name: Setup Java
        uses: actions/setup-java@v3.13.0
        with:
          java-version: ${{ inputs.java-version }}
          distribution: ${{ inputs.java-distribution }}

      - name: Build
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: clean build
          gradle-version: wrapper

      - name: Set Package Name
        run: |
          group=$(awk '/group/{print $NF; exit}' build.gradle.kts | sed s/\'//g | sed s/\"//g)
          name=$(awk '/rootProject.name/{print $NF; exit}' settings.gradle.kts | sed s/\'//g | sed s/\"//g)
          echo "PACKAGE_NAME=${group}.${name}" >> $GITHUB_ENV

      - name: Codestyle
        uses: fabiocapasso93/gha-kotlin-linter@v1.1

      - name: Coverage
        if: ${{ inputs.run-coverage == 'true' }}
        uses: codecov/codecov-action@v3.1.4
        with:
          file: ./build/reports/jacoco/test/jacocoTestReport.xml
          verbose: true

      - name: FOSSA
        if: ${{ inputs.run-fossa == 'true' }}
        uses: fossas/fossa-action@v1.3.1
        with:
          api-key: ${{ secrets.fossa-api-key }}

      - name: Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: ${{ env.PACKAGE_NAME }}
          path: .
          format: HTML
          out: reports/dependency-check
          args: >
            --failOnCVSS 7
            --enableRetired
        env:
          JAVA_HOME: /opt/jdk

      - name: Publish Dependency Check Results
        uses: actions/upload-artifact@master
        with:
          name: Dependency Check Report
          path: ${{ github.workspace }}/reports/dependency-check
